*{
    background-image: url(https://media.istockphoto.com/id/1354982067/vector/sky-starry-black-night-background-with-star-starry-galaxy-space-8bit-texture-in-flat-style.jpg?s=612x612&w=0&k=20&c=jg_rvaUBAvwbSyIWlRbIGSLf2JkqAehZ0HRfxA8X9VQ=);
}
body{
    text-align: center;
}

#board{
    background-color: black;
    background-image: url(https://media.istockphoto.com/id/1354982067/vector/sky-starry-black-night-background-with-star-starry-galaxy-space-8bit-texture-in-flat-style.jpg?s=612x612&w=0&k=20&c=jg_rvaUBAvwbSyIWlRbIGSLf2JkqAehZ0HRfxA8X9VQ=);
    border: 5px solid rgb(246, 68, 97);
}
canvas{
    margin-top: 30px;
}
